@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Icecream Parlour</h1>
    <p class="lead">The Icecream Parlour where you can get information about how healthy your icecream is, where you can find your favourite flavour nearby.</p>
    <p>Source code available on: <a href=" https://github.com/Yesha612/Assignment1.git" class="btn btn-info btn-lg">Github &raquo;</a></p>
</div>
